#quote-box {
  border: 2px solid purple;
  background-color: #ccc;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 32px;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: calc(100% - 32px);
  min-width: 250px;
  margin: 16px 16px 8px 16px;
  #text {
    margin-bottom: 4px;
    overflow-wrap: break-word;
  }
  #new-quote {
    border: 1px solid green;
    background-color: pink;
  }
  #tweet-quote {
    text-decoration: none;
  }
  #author {
    text-align: right;
  }
  .buttons-flex-container {
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }
  .icon-container {
    border: 1px solid black;
    height: fit-content;
  }
}