.app {
  .main-content-container {
  border: 3px solid green;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  .developer-credit {
    margin-top: 8px;
  }
}